

{% extends 'base.html.twig' %}

{% block title %}Valider Informations{% endblock %}

{% block body %}
    <h1>Valider Informations</h1>

    {{ form_start(form) }}
        {{ form_row(form.adresse) }}
        {{ form_row(form.num_telephone) }}
        {{ form_row(form.nom_prenom) }}
        {{ form_row(form.poste) }}
        <button class="btn btn-primary">Valider</button></br></br></br></br>
    {{ form_end(form) }}

    
    {% for message in app.flashes('success') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
